<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Practice">
    <!--Groups are made up of tests from classes-->
    <test name="Group Test">
        <groups>
            <run>
                <include name="positive"/>
                <include name="negative"/>
            </run>
        </groups>

        <classes>
            <class name="GroupTests"/>
        </classes>
    </test>
    <!--Method groups include and exclude methods from a test. E.g. ".*positiveTest.*" refers to any test containing the string "positiveTest" in the signature-->
    <test name="Method Group Test">
        <classes>
            <class name="GroupTests">
                <methods>
                    <include name=".*positiveTest.*"/>
                    <exclude name=".*negativeTest.*"/>
                </methods>
            </class>
        </classes>
    </test>
    <!--Metagroups can be used for organizing different test groups-->
    <!--Run the "all" test group which includes the "meta" group (defined above), wherein "metagroup1" & "metagroup2" are included -->
    <test name="Metagroup Test">
        <groups>
            <define name="meta">
                <include name="metagroup1"/>
                <include name="metagroup2"/>
            </define>

            <define name="all">
                <include name="tests"/>
                <include name="meta"/>
                <include name="empty"/>
                <include name="negative"/>
                <include name="positive"/>
            </define>

            <run>
                <include name="all"/>
            </run>
        </groups>

        <classes>
             <class name="MetagroupTests"/>
          </classes>
     </test>

    <!--Parameters can be provided with the @Parameters annotation or with a DataProvider-->
    <test name="Parameters Test">
        <parameter name="num" value="12"></parameter>
        <classes>
            <class name="ParameterTests"/>
        </classes>
    </test>

    <!--Dependencies come in the forms of hard and soft, they allow us to ensure order and success of previous tests before running future tests-->
    <test name="Dependencies Test">
        <classes>
            <class name="DependencyTests"/>
        </classes>
    </test>

    <!--Class-level annotations simplifies test classes where possible-->
    <test name="Class-level Annotations Test">
        <classes>
            <class name="ClasslevelTests"/>
        </classes>
    </test>

    <!--Class-level annotations simplifies test classes where possible-->
    <test name="Factories Test">
        <classes>
            <class name="FactoryTestsFactory"/>
        </classes>
    </test>
</suite> <!-- Suite -->